[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
bootstrap-flask = "*"
python-dotenv = "*"
pymysql = "*"
flask-wtf = "*"
flask-login = "*"

[dev-packages]
watchdog = "*"w

[requires]
python_version = "3.7"
