<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>锦城小学俱乐部报名</title>
    {{bootstrap.load_css()}}
</head>
<body>
<div class="container">
       <div class="row">
           <div class="col-md-12">
    {% block navbar%}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">锦小艺体俱乐部</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">首页<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/subject_info">课程信息</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/add">学生报名</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          报名管理
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">班级管理</a>
          <a class="dropdown-item" href="#">校级管理</a>
          <a class="dropdown-item" href="#">超级管理员</a>
        </div>
      </li>
    </ul>
    <div class="navbar-nav my-2 my-lg-0">
          <li class="nav-item">
         {% if current_user.is_authenticated%}
              <a class="nav-link" href="/login">欢迎你, {{current_user.name}}</a>
         {% else %}
        <a class="nav-link" href="/login">登录</a>
              {% endif %}
      </li>
          <li class="nav-item">
        <a class="nav-link" href="/logout">注销</a>
      </li>
    </div>
  </div>
</nav>
               {%endblock%}
        </div>
    </div>
     {% block content%}
          <h3 class="text-center">我是内容栏</h3>
    {%endblock%}
</div>
{{bootstrap.load_js()}}
</body>
</html>