<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>锦城小学俱乐部报名</title>
    <link rel="icon" href="data:image/ico;base64,aWNv">
    {{bootstrap.load_css()}}
</head>
<body>
<div class="container">
       <div class="row">
           <div class="col-md-12">
    {% block navbar%}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">锦小艺体俱乐部</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">首页<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/subject_info">课程信息</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/class_admin">班级管理</a>
      </li>
       </li>
        <li class="nav-item">
        <a class="nav-link" href="/admin/school_admin">校园管理</a>
      </li>
    </ul>
    <div class="navbar-nav my-2 my-lg-0">
          <li class="nav-item">
         {% if current_user.is_authenticated%}
              <a class="nav-link" href="/login">欢迎你, {{current_user.name}}</a>
         {% else %}
        <a class="nav-link" href="/login">登录</a>
              {% endif %}
      </li>
          <li class="nav-item">
        <a class="nav-link" href="/logout">注销</a>
      </li>
    </div>
  </div>
</nav>
               {%endblock%}
        </div>
    </div>
     {% block content%}
          <h2>合肥市锦城小学2021-2022学年度第二学期俱乐部报名注意事项</h2>
    <h4 class="leader alert alert-success">第一步，先点击班级管理输入对应班级的账号密码，进入班级管理页面点击下面的空报名表</h4>
    <h4 class="leader alert alert-success">第二步，填写报名表，注意<strong>俱乐部项目请从下拉列表中选择！！！</strong>， 否则上传表格时会失败，如果委托家长填表的，需要交代清楚 每个学生只占
        一行，<strong>只占一行</strong> </h4>
    <h4 class="leader alert alert-success">第三步，还是在班级管理页面点击上传， 上传成功后，点击报名信息选项卡，可以查看班级的总体报名情况</h4>
    <h4 class=" alert alert-info">
        在报名信息选项卡界面，可以通过每一行的编辑按钮,修改学生的报名信息<br>
        <strong>删除学生</strong>的方法时把四个项目全部设置成不选
        点击<strong>添加单个学生</strong>选项卡，可以单独添加学生，不需要重新上传表格
    </h4>
    {%endblock%}
</div>
{% block script%}
{{bootstrap.load_js()}}
{% endblock%}
</body>
</html>