{% extends "base.html"%}
{% block content%}
 <div class="row">
         <div class="col-md-12">
               <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">报名表上传</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1">报名信息</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">已取消项目</a>
                  </li>

            </div>
                </ul>
         </div>
             <!-- Tab panes -->
     <div class="col-md-12">
       <div class="tab-content ">
                <div class="tab-pane active container" id="home"><a href="#">下载报名表</a></div>
                <div class="tab-pane container" id="menu1">报名信息</div>
                <div class="tab-pane container" id="menu2">已取消项目</div>
     </div>

     </div>




</div>

{%endblock%}
