{% extends "base.html"%}
{% block content%}
 <div class="row">
         <div class="col-md-12">
               <ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#home">报名表上传</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu1">报名信息</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">已取消项目</a>
                  </li>
                </ul>
         </div>
             <!-- Tab panes -->
       <div class="tab-content m-10">

                <div class="tab-pane active container  clear-fix" id="home">
                    <div class="container">
                         <div class="row">
                        <div class="col-md-12">
                             <form >

                       {% from 'bootstrap/form.html' import render_form_row%}
                           {{ form.csrf_token() }}
                        {{render_form_row([form.file])}}
                                 {{render_form_row([form.submit])}}
                    </form>
                        </div>
                    </div>
                    </div>


                </div>

                <div class="tab-pane container" id="menu1">报名信息</div>
                <div class="tab-pane container" id="menu2">已取消项目处理</div>

     </div>




</div>

{%endblock%}
