{% extends "base.html"%}
{% from 'bootstrap/form.html' import render_form%}
{% from 'bootstrap/form.html' import render_form_row%}
{% block content%}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#home">课程上传</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu1">课程管理</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu2">班级汇总</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu3">俱乐部汇总</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#menu4">课程添加</a>
  </li>

</ul>
     <!-- Tab panes -->
<div class="tab-content">

    <div class="tab-pane active container" id="home">
      {{render_form(form)}}
    </div>

    <div class="tab-pane container" id="menu1">
       课程管理
    </div>
    <div class="tab-pane container" id="menu2">
        班级汇总
    </div>
    <div class="tab-pane container" id="menu3">
        俱乐部汇总
    </div>
     <div class="tab-pane container" id="menu4">
        <div class="row">
            <div class="col-md-6 offset-3" >
                {{render_form(form1)}}
            </div>
        </div>
    </div>
    </div>
{%endblock%}
{%block script%}
{{super()}}
<script>
    $(function(){
        $("#add_subject_button").click(function(){
            $.ajax(



            )
        })
    })
</script>
{% endblock%}